.container a{
    color: black;
}
.container a:hover{
    text-decoration: none;
}
.cartComponent{
    width: 80%;
    height: 16rem;
    margin: 2rem auto;
    padding: 0;
    border-radius: .3rem;
    box-shadow: 0 0 8px gainsboro;
}
.cartComponent img:hover{
    opacity: .5;
    color: black;
}
.cartComponent img{
    width: 100%;
    height: 100%;
    opacity: .3;
    position: relative;
    border-radius: .3rem;
}
.cartComponent h2{
    position: absolute;
    font-size: 3rem;
    top: 40%;
    left: 27%;
}